<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.EventMapper">

<resultMap id="eventResultMap" type="com.pcwk.ehr.event.EventDTO">
  <result property="ecode"     column="event_code"/>
  <result property="email"     column="email"/>
  <result property="title"     column="title"/>
  <result property="div"       column="div"/>
  <result property="contents"  column="contents"/>
  <result property="nickname"  column="nickname"/>
  <result property="readCnt"   column="read_cnt"/>
  <result property="regDt"     column="reg_dt"/>
  <result property="regId"     column="reg_id"/>
  <result property="modDt"     column="mod_dt"/>
  <result property="modId"     column="mod_id"/>
</resultMap>

<select id="getEventSeq" resultType="java.lang.Integer">
  SELECT EVENT_SEQ.NEXTVAL FROM dual
</select>

<update id="updateReadCnt" parameterType="EventDTO">
  UPDATE event
  SET read_cnt = NVL(read_cnt, 0) + 1
  WHERE event_code = #{ecode}
  <if test="regId != null">
    AND reg_id != #{regId}
  </if>
</update>

<insert id="saveAll">
<![CDATA[
INSERT INTO event (
    event_code, email, title, div, contents, nickname,
    read_cnt, reg_dt, reg_id, mod_dt, mod_id
)
SELECT 
    EVENT_SEQ.NEXTVAL,
    'user' || LEVEL || '@test.com',
    '제목' || LEVEL,
    '30',
    '내용' || LEVEL,
    '별명' || LEVEL,
    0,
    SYSDATE - LEVEL,
    DECODE(MOD(LEVEL,2),1,'admin','guest'),
    SYSDATE - LEVEL,
    DECODE(MOD(LEVEL,2),1,'admin','guest')
FROM dual
CONNECT BY LEVEL <= 100
]]>
</insert>

<sql id="eventWhere">
  <choose>
    <when test="searchDiv == '10' and searchWord != null and searchWord != ''">
      <![CDATA[
        AND title LIKE '%' || #{searchWord} || '%'
      ]]>
    </when>
    <when test="searchDiv == '20' and searchWord != null and searchWord != ''">
      <![CDATA[
        AND contents LIKE '%' || #{searchWord} || '%'
      ]]>
    </when>
    <when test="searchDiv == '30' and searchWord != null and searchWord != ''">
      <![CDATA[
        AND event_code = #{searchWord}
      ]]>
    </when>
    <when test="searchDiv == '40' and searchWord != null and searchWord != ''">
      <![CDATA[
        AND (title LIKE '%' || #{searchWord} || '%' OR contents LIKE '%' || #{searchWord} || '%')
      ]]>
    </when>
  </choose>
</sql>

<select id="doRetrieve" parameterType="SearchDTO" resultType="EventDTO">
  SELECT A.*, B.total_cnt
  FROM (
    SELECT TT1.rnum AS no,
           TT1.event_code AS ecode,
           TT1.email,
           TT1.title,
           TT1.div,
           TT1.contents,
           TT1.nickname,
           TT1.read_cnt AS readCnt,
           TT1.reg_dt AS regDt,
           TT1.reg_id AS regId,
           TT1.mod_dt AS modDt,
           TT1.mod_id AS modId
    FROM (
      SELECT ROWNUM rnum, T1.*
      FROM (
        SELECT *
        FROM event
        WHERE 1 = 1
        <include refid="eventWhere" />
        ORDER BY mod_dt DESC
      ) T1
      <![CDATA[
      WHERE ROWNUM <= (#{pageSize} * (#{pageNo} - 1) + #{pageSize})
      ]]>
    ) TT1
    <![CDATA[
    WHERE rnum >= (#{pageSize} * (#{pageNo} - 1) + 1)
    ]]>
  ) A
  CROSS JOIN (
    SELECT COUNT(*) AS total_cnt
    FROM event
    WHERE 1 = 1
    <include refid="eventWhere" />
  ) B
</select>

<delete id="deleteAll">
  DELETE FROM event
</delete>

<insert id="doSave" parameterType="EventDTO">
  <selectKey keyProperty="ecode" resultType="int" order="BEFORE">
  SELECT EVENT_SEQ.NEXTVAL FROM dual
</selectKey>
  INSERT INTO event (
    event_code, email, title, div, contents, nickname,
    read_cnt, reg_dt, reg_id, mod_dt, mod_id
  ) VALUES (
    #{ecode}, #{email}, #{title}, #{div}, #{contents}, #{nickname},
    0, SYSDATE, #{regId}, SYSDATE, #{modId}
  )
</insert>

<select id="doSelectOne" resultMap="eventResultMap" parameterType="EventDTO">
  SELECT
    event_code,
    email,
    title,
    div,
    contents,
    nickname,
    read_cnt,
    reg_dt,
    reg_id,
    mod_dt,
    mod_id
  FROM event
  WHERE event_code = #{ecode}
</select>

<delete id="doDelete" parameterType="EventDTO">
  DELETE FROM event
  WHERE event_code = #{ecode}
</delete>

<update id="doUpdate" parameterType="EventDTO">
  UPDATE event
  SET
    email = #{email},
    title = #{title},
    div = #{div},
    contents = #{contents},
    nickname = #{nickname},
    mod_dt = SYSDATE,
    mod_id = #{modId}
  WHERE event_code = #{ecode}
</update>

<select id="getCount" resultType="java.lang.Integer">
  SELECT COUNT(*) FROM event
</select>

</mapper>